*{
    box-sizing: border-box; 
    font-weight: bold;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navbar-pinterest{
    display:flex;
    justify-content: left;
    align-content: center;
}
#pinterest-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 80% 1%;
    margin: 1%;
    background-image: url('imagenes/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
    position: relative;
    z-index: 4;
    display:inline-block;
    text-indent: 100%;
}

.botones{
    height: fit-content;
    width: 17%;
    align-items: left;
}

.botones, #logo{
    align-items: center;
}

.boton1 {
    background-color: #111111;
    background-size: contain;
    padding: 0% 5% 0% 5%;
    margin: 10px;
    border: 1px solid #111111;
    border-radius: 30px;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.boton2, .boton3 {
    background-color: #FFFFFF;
    background-size: contain;
    padding: 0% 1% 0% 1%;
    margin: 10px;
    border-radius: 30px;
    color: #111111;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.boton2:hover, .boton3:hover{
    background-color: #111111;
    background-size: contain;
    padding: 0% 1% 0% 1%;
    margin: 10px;
    border: 1px solid #111111;
    border-radius: 30px;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.finder{
    align-items: left;
    padding: 0% 56% 0% 0%;
}

.finder input{
    background-color: #E9E9E9;
    background-size: 2%;
    padding: 10% 510% 10% 22%;
    margin: 8%;
    border: none;
    border-radius: 30px;
    color: #949AA3;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    background-image: url('imagenes/lupa.png'); /* Cambia la ruta por la ubicación de tu imagen */
    background-position: 1%;
    background-repeat: no-repeat;
}

.finder input:hover{
    background-color: #E9E9E9;
    background-size: 2%;
    padding: 10% 500% 10% 22%;
    margin: 8%;
    border: solid ;
    border-radius: 30px;
    color: #7FC1FF;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    background-image: url('imagenes/lupa.png'); /* Cambia la ruta por la ubicación de tu imagen */
    background-position: 1%;
    background-repeat: no-repeat;
}

.InfoUser{
    height: fit-content;
    width: 16%;
    align-items: right;
    padding: 0% 1% 0% 1%;
    display: inline-block;
}

#notifications{
    width: 60px;
    height: 60px;
    background-color: white;
    background-size: 80%;
    background-position: center;
    background-image: url('imagenes/campana.png');
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0% 10% 0% 10%;
}

#message{
    width: 60px;
    height: 60px;
    background-color: white;
    background-size: 40%;
    background-position: center;
    background-image: url('imagenes/mensaje.png');
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0% 5% 0% 5%;
}

#profile-img{
    width: 60px;
    height: 60px;
    background-color: white;
    background-size: 35%;
    background-position: center;
    background-image: url('imagenes/user.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    padding: 5% 5% 5% 5%;
}

#content {
    columns: 6 100px;
    column-gap: 1em;

}

.card-image .img{
    max-width: 100%;
    margin-bottom: 2em;
    border-radius: 5%;
    z-index: 1;
    position: relative;
}

#G{
        background-color: #c63a3a;
        background-size: contain;
        border-radius: 40%;
        color: aliceblue;
        text-decoration: none;
        text-align: center;
        padding: 1%;
        display: inline-block;
        font-size: 14px;
        position: absolute;
        margin-top: 1%;
        align-items: center;
        transform: translate(-120%, 0%);
        opacity: 0%;
        z-index: 1000;
}

.card-image:hover #G{
    background-color: #c63a3a;
    background-size: contain;
    border-radius: 35%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    margin-top: 1%;
    align-items: center;
    transform: translate(-120%, 0%);
    opacity: 100%;
    z-index: 1000;
}

.card-image:hover #G:hover{
    background-color: #AD081B;
    background-size: contain;
    border-radius: 35%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    margin-top: 1%;
    align-items: center;
    transform: translate(-120%, 0%);
    opacity: 100%;
    z-index: 1000;
    cursor: pointer;
}

.card-image #C{
    width: 1%;
    height: 1%;
    background-color: whitesmoke;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/share.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-250%, 650%);
    opacity: 0%;
    z-index: 2000;
}
.card-image:hover #C{
    width: 1%;
    height: 1%;
    background-color: #E9E9E9;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/share.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-250%, 650%);
    opacity: 100%;
    z-index: 2000;
}

.card-image:hover #C:hover{
    width: 1%;
    height: 1%;
    background-color: white;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/share.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-250%, 650%);
    opacity: 100%;
    z-index: 2000;
    cursor: pointer;
}

.card-image #O{
    width: 1%;
    height: 1%;
    background-color: whitesmoke;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/points.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-140%, 650%);
    opacity: 0%;
    z-index: 2000;
}

.card-image:hover #O{
    width: 1%;
    height: 1%;
    background-color: whitesmoke;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/points.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-140%, 650%);
    opacity: 100%;
    z-index: 2000;
}

.card-image:hover #O:hover{
    width: 1%;
    height: 1%;
    background-color: white;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url('imagenes/points.png');
    background-position: center center;
    border-radius: 60%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    align-items:right;
    transform: translate(-140%, 650%);
    opacity: 100%;
    z-index: 2000;
    cursor: pointer;
}

/* max width quierre decir hasta
min width quiere decir desde */
/*                                    */
@media screen and (200px <= width <= 1500px){


        .finder input{
            background-color: #E9E9E9;
            background-size: 1%;
            padding: 10% 450% 10% 22%;
            margin: 8%;
            border: none;
            border-radius: 30px;
            color: #949AA3;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
        
            background-image: url('imagenes/lupa.png'); /* Cambia la ruta por la ubicación de tu imagen */
            background-position: 1%;
            background-repeat: no-repeat;
        }

        .botones{
            height: fit-content;
            width: 4%;
            align-items: left;
        }

        .InfoUser{
            height: fit-content;
            width: 50%;
            align-items: right;
            padding: 0% 1% 0% 1%;
            display: inline-block;
        }

        .boton1{
            border-radius: 40%;
            color:black;
            background-color: white;
            border-color: white;
        }

        .boton2, .boton3{
            opacity:0%;
            height: 0;
            width: 0;
        }


        @media screen and (200px <= width <= 1355px){


            .finder input{
                background-color: #E9E9E9;
                background-size: 1%;
                padding: 10% 250% 10% 22%;
                margin: 8%;
                border: none;
                border-radius: 30px;
                color: #949AA3;
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
            
                background-image: url('imagenes/lupa.png'); /* Cambia la ruta por la ubicación de tu imagen */
                background-position: 1%;
                background-repeat: no-repeat;
            }
    
            .botones{
                height: fit-content;
                width: 10%;
                align-items: left;
            }
    
            .InfoUser{
                height: fit-content;
                width: 20%;
                align-items: right;
                padding: 0% 1% 0% 1%;
                display: inline-block;
            }
    
            .boton1{
                border-radius: 40%;
                color:black;
                background-color: white;
                border-color: white;
            }
    
            .boton2, .boton3{
                opacity:0%;
                height: 0;
                width: 0;
            }
            
            #message{
                width: 0;
                height: 0;
                opacity: 0%;
            }

            #profile-img{
                width: 0;
                height: 0;
                opacity: 0%;
            }
}

}


@media screen and (200px <= width <= 805px){


    .finder input{
        background-color: #E9E9E9;
        background-size: 1%;
        padding: 10% 100% 10% 22%;
        margin: 8%;
        border: none;
        border-radius: 30px;
        color: #949AA3;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    
        background-image: url('imagenes/lupa.png'); /* Cambia la ruta por la ubicación de tu imagen */
        background-position: 1%;
        background-repeat: no-repeat;
    }

    .botones{
        height: fit-content;
        width: 10%;
        align-items: left;
    }

    .InfoUser{
        height: fit-content;
        width: 20%;
        align-items: right;
        padding: 0% 1% 0% 1%;
        display: inline-block;
    }

    .boton1{
        border-radius: 40%;
        color:black;
        background-color: white;
        border-color: white;
    }

    .boton2, .boton3{
        opacity:0%;
        height: 0;
        width: 0;
    }
    
    #message{
        width: 0;
        height: 0;
        opacity: 0%;
    }

    #profile-img{
        width: 0;
        height: 0;
        opacity: 0%;
    }
}



